*{
	margin: 0;
	padding: 0;
}
html, body {height:100%;overflow:auto;margin: 0;}
body{
	height: 100%;
	width: 100%;
	background: url(https://static.windeln.com.cn/content/1500.XDW9wjfOKxuwhkT4/2019-hg-newyear.jpg)repeat;
}
img{
	height: 100%;
	width: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	
	height: 36px;
    width: 1000px;
    margin: 20px auto;
    position: relative;
}
a{
	text-decoration: none;
}
.header{
	float: left;
	height: 36px;
    width: 790px;
}
.header .one{
	height: 36px;
	width: 194px;
	float: left;
}
.header img{
	height: 25px;
	width: 25px;
	float: left;	
}
.header p{
	width: 150px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-size: 14px;
	float: left;
	color: grey;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 2px;
    display: block;
}
.header .two{
	height: 36px;
	width: 194px;
	float: left;
}
.header .two p{
	display: block;
	margin-left: -8px;
}
.header .three{
	height: 36px;
	width: 194px;
	float: left;
}
.header .three p{
	display: block;
	margin-left: 7px;
}
.header .four{
	height: 36px;	
	width: 194px;
	float: left;
	margin-left: 10px;
}
.header .four p{	
    display: block;
    margin-left: -15px;
}
.container .five{
	margin-top: -6px;	
	line-height: 36px;
	text-align: right;
	margin-left: 90px;
	height: 36px;
	width: 120px;
	float: left;
	color: white;
	display: block;
}
.container .five span{
	color: gray;
	font-size: 14px;
}
.container .five a{
   font-size: 20px;
   color: gray;
   padding-left: 12px;
   position: relative;
}
.container .wrap{
	height: 360px;
	width: 430px;
    position: absolute;
	margin-top: 30px;
	margin-left: 570px;
	border: 1px solid grey;
	display: none;z-index: 2;
	background: white;
}
.container .wrap .wrap_top{
	
	height: 180px;
	width: 430px;
	margin-left: ;
}
.container .wrap .wrap_top p{
	padding-left: 30px;
	padding-top: 30px;
	font-size: 14px;
	color: gray;
}
.container .wrap .wrap_img{
	padding-left: 30px;
	padding-top: 30px;
	height: 120px;
	width: 150px;
	float: left;
}
.container .wrap .wrap_img img{
	height: 100%;
	width: 100%;
}
.container .wrap .wrap_con{
	height: 75px;
	width:230px ;
	float: left;
}
.logo{
	height: 70px;
	width: 1000px;
	margin: 0 auto;
	margin-top: -10px;
}
.logo .l{
	width: 300px;
	height: 58px;
	float: left;
}
.logo .l img{
	height: 100%;
	width: 100%;
	left: 0;
	padding-left: -10px;
}
.logo .m{
	margin-left: 50px;
    float: left;
	width: 300px;
	height: 70px;
	
}
.logo .m .m_a{
	height: 36px;
	width: 300px;
	margin-top:20px;
	position: relative;
}
.logo .m .m_a input{
	height: 36px;
	width: 300px;
	color: gainsboro;
	padding-left: 10px;
	float: left; 
	position: absolute;
   background: gainsboro;
}
.logo .m .m_a button{
	height: 40px;
	width: 66px;
	float: right;
	position: absolute;
	left: 249px;
	background: none;
	border: none;
}
.logo .m .m_a button i{
	height: 30px;
	width: 30px;
	display: inline-block;
	color: red;
	background: url(../img/ico-comm.png) -34px -223px;	
}
.logo .r{
	margin-left: 50px;
	width: 300px;
	height: 70px;
	float: left;
}
.logo .r .r_a{
	height: 70px;
	width: 50px;
	float: left;
	margin-left: 200px;
}
.logo .r .r_a span {
	font-size: 14px;
	display: block;
	margin-top: 5px;
	margin-left: 8px;
} 
.logo .r .r_a i{
	display:block;
	margin-left: 5px;
	margin-top: 8px;
}
.logo .r .r_b{
	height: 70px;
	width: 50px;e;
	float: right;
}
.logo .r .r_b span{
	display: block;
	font-size: 14px;	
	margin-top: 5px;
	margin-left: 5px;
}
/*-----------------导航------------------*/
.nav{
	height: 62px;
	width: 1000px;
    margin: 0 auto;
    position: relative;
}
.nav .nav_list{
	height: 62px;
	width: 1000px;
	float: left;
	margin: 0 auto;
}
.nav .nav_list li{
	float: left;
	height: 62px;
	line-height: 62px;
	text-align: center;
	background: #edecec;
	font-size: 15px;
	position: relative;
	margin-right: 1px;
}
.nav .nav_list li span{
	color: lightskyblue;
	display: block;
	margin: 0 12px;
}
.nav .nav_list li .last{
	padding: 0 2px;
}
.nav .nav_list li:hover span{
	color: crimson;
}
.nav .nav_list li:hover{background: white;}

/*------------n鼠标移入nav时，li对应的内容显示-------------*/
.nav .nav_bottom{
	margin-top: 62px;
	height:315px ;
	width: 998px;
	position: absolute;
	border: 1px solid gainsboro;	
	display: none;
}
/*-----------------main-------------------*/
.main{
	
	height:1400px;
	width: 1000px;
	margin: 20px auto;
}
/*-----------main左侧---------*/
.main .main_l{
	height: 1400px;
	width: 210px;
	float: left;
}
.main .main_l .main_l_a{
	height: 230px;
	width: 210px;
	border-bottom:1px solid darkgray;
}
.main .main_l .main_l_a img{
	height: 210px;
	width: 210px;
    display: block;
}
.main .main_l .main_l_b{
	height: 30px;
	width: 210px;
	line-height: 30px;
	text-align: left;
}
.main .main_l .main_l_c{
	height: 340px;
	width: 210px;
}
.main .main_l .main_l_c li{
	padding-left: 16px;
}
.main .main_l .main_l_c li a {
	color: ;
	font-size: 12px;
}
.main .main_l .main_l_d{
	height: 40px;
	width: 210px;
	border-bottom: 1px solid grey;
	padding-top: 8px;
}
.main .main_l .main_l_d a{
	font-size: 12px;	
}
.main .main_l .main_l_e{
	height: 40px;
	width: 210px;
}
.main .main_l .main_l_f{
	height: 168px;
	width: 210px;
	border-bottom: 1px solid gray;
}
.main .main_l .main_l_f li a {
	font-size: 12px;
}
.main .main_l .main_l_f li{
	padding-left: 16px;
}
.main .main_l .main_l_g{
	height:180px;
	width: 210px;
}
.main .main_l .main_l_g li a {
	font-size: 12px;
}
.main .main_l .main_l_g li{
	padding-left: 16px;
}
/*---------------------main右侧---------------------*/
.main .main_r{
	width: 760px;
	margin-left: 30px;
	float: left;
}
.swiper-container{
    width: 760px;

    text-align: center;
}
/*-----小轮播图-----------------------*/

.slick-list{
	position: relative;
    margin-top: 18px;
	height: 80px;
	width: 760px;
	border-bottom: 1px solid gainsboro;
	border-top: 1px solid gainsboro;	
	
}
.slick-list img{	
	height: 38px;
	width: 108px;	
}
.slick-list a {
	padding: 0 10px;
}
.slick-list .slick-track{
	margin-top: 20px;
	height: 40px;
	width: 760px;
	overflow: hidden;
}
.slick-list .swiper-button-prev{
	position: absolute;
	height: 30px;
	width: 40px;
	opacity: 0.4;
	top: 50px;
	left: 0;
}
.slick-list .swiper-button-next{
	position: absolute;
	height: 30px;
	width: 40px;
	opacity: 0.4;
	top: 50px;
	right: 0;
}
/*--------------w家专题推荐部分----------------*/
.w-h{
	height:40px;
	line-height: 40px;
	text-align: center;
	width: 760px;
	padding: 10px 0;
}
.w-h h2{
	color: gray;
}
.w-img{
	border-bottom: 1px solid grey;
	height: 100px;
	width: 760px;
}
.w-img img{
	height: 73px;
	width: 100px;
	margin-left: 4px;
	
}
/*----------------更多推荐--------------*/
.more{
	height: 40px;
	width: 760px;
		padding: 10px 0;
}
.more h3{
	opacity: 0.7;
	height: 40px;
	line-height: 40px;
	text-align: left;
}
/*-----------图片 前往购买区------------*/
.buy-con{
	height:420px;
	width: 760px;
}
.buy{
	height:200px ;
	width: 370px;
	float: left;
	margin: 5px 5px;
}
.buy img{
	display: block;
}
/*--------大牌来啦----宝宝奶粉---------*/
.milk{
	height: 50px;
	width: 760px;
	padding: 10px 0;
}
.milk h2{
	opacity: 0.7;
	height: 50px;
	text-align: center;
}
.milk-container{
	height: 355px;
	width: 760px;
	background:pink;
}
.goods{
	height: 355px;
	width: 178px;
	background: palegreen;
}
