*{
	margin: 0;
	padding: 0;
}
html, body {height:100%;overflow:auto;margin: 0;}
body{
	height: 100%;
	width: 100%;
	background: url(https://static.windeln.com.cn/content/1500.XDW9wjfOKxuwhkT4/2019-hg-newyear.jpg)repeat;
}
img{
	height: 100%;
	width: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: gray;
}
.container{
	
	height: 36px;
    width: 1000px;
    margin: 20px auto;
    position: relative;
}
a{
	text-decoration: none;
}
.header{
	float: left;
	height: 36px;
    width: 790px;
}
.header .one{
	height: 36px;
	width: 194px;
	float: left;
}
.header img{
	height: 25px;
	width: 25px;
	float: left;	
}
.header p{
	width: 150px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-size: 14px;
	float: left;
	color: grey;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 2px;
    display: block;
}
.header .two{
	height: 36px;
	width: 194px;
	float: left;
}
.header .two p{
	display: block;
	margin-left: -8px;
}
.header .three{
	height: 36px;
	width: 194px;
	float: left;
}
.header .three p{
	display: block;
	margin-left: 7px;
}
.header .four{
	height: 36px;	
	width: 194px;
	float: left;
	margin-left: 10px;
}
.header .four p{	
    display: block;
    margin-left: -15px;
}
.container .five{
	margin-top: -6px;	
	line-height: 36px;
	text-align: right;
	margin-left: 90px;
	height: 36px;
	width: 120px;
	float: left;
	color: white;
	display: block;
}
.container .five span{
	color: gray;
	font-size: 14px;
}
.container .five a{
   font-size: 20px;
   color: gray;
   padding-left: 12px;
   position: relative;
}
.container .wrap{
	height: 360px;
	width: 430px;
    position: absolute;
	margin-top: 30px;
	margin-left: 570px;
	border: 1px solid grey;
	display: none;z-index: 2;
	background: white;
}
.container .wrap .wrap_top{
	
	height: 180px;
	width: 430px;
	margin-left: ;
}
.container .wrap .wrap_top p{
	padding-left: 30px;
	padding-top: 30px;
	font-size: 14px;
	color: gray;
}
.container .wrap .wrap_img{
	padding-left: 30px;
	padding-top: 30px;
	height: 120px;
	width: 150px;
	float: left;
}
.container .wrap .wrap_img img{
	height: 100%;
	width: 100%;
}
.container .wrap .wrap_con{
	height: 75px;
	width:230px ;
	float: left;
}
.logo{
	height: 70px;
	width: 1000px;
	margin: 0 auto;
	margin-top: -10px;
}
.logo .l{
	width: 300px;
	height: 58px;
	float: left;
}
.logo .l img{
	height: 100%;
	width: 100%;
	left: 0;
	padding-left: -10px;
}
/*----------搜索框-----------*/
.search{
	height: 36px;
	width: 328px;
	margin-left: 20px;
	margin-top: 20px;
    border: 1px solid #CCCCCC;
    float: left;
    display: inline;
}
.search input{
	border: none;
}
.search_input {
  width: 260px;
  display: inline;
  height: 34px;
  line-height: 34px;
  padding: 0 6px;
  outline:medium;
}
.search_btn {
  width: 52px;
  height: 38px;
  background: url(../img/seach.png)left center no-repeat;
  float: right;
  display: inline;
  }
input{outline:medium;}
/*------------搜索框----------*/
.logo .r{
	margin-left: 50px;
	width: 300px;
	height: 70px;
	float: left;
}
.logo .r .r_a{
	height: 70px;
	width: 50px;
	float: left;
	margin-left: 200px;
	margin-top: 7px;
	color: gray;
}
.logo .r .r_a span {
	font-size: 12px;
	display: block;
	margin-left: 8px;
	margin-top: 3px;
} 
.logo .r .r_a img{
	height: 18px;
	width: 18px;
	margin-left: 10px;
}
.logo .r .r_b{
	margin-top: 7px;
	height: 70px;
	width: 50px;
	float: right;
}
.logo .r .r_b  a i{
	height: 18px;
	width: 18px;
}
.logo .r .r_b img{
	height: 18px;
	width: 18px;
	display: block;
	margin-left:10px;
}
.logo .r .r_b  a span{
	display: block;
	font-size: 12px;	
	margin-top: 5px;
	margin-left: 5px;
	color:slategray;
	margin-top: 7px;
}
/*-----------------导航------------------*/
.nav{
	height: 62px;
	width: 1000px;
    margin: 0 auto;
   
}
.nav .nav_list{
	height: 62px;
	width: 1000px;
	float: left;
	margin: 0 auto;
	 position: relative;
}
.nav .nav_list li{
	
	float: left;
	height: 62px;
	line-height: 62px;
	text-align: center;
	background: #edecec;
	font-size: 15px;
	margin-right: 1px;
}
.nav .nav_list li span{
	color: lightskyblue;
	display: block;
	margin: 0 12px;
}
.nav .nav_list li .last{
	padding: 0 2px;
}
.nav .nav_list li:hover span{
	color: crimson;
}
.nav .nav_list li:hover{
	background: white;
}
.nav .nav_list .hide{
	margin: 0 auto;
	position:absolute;
	display:none;
	height: auto;
	width:1000px;
	border: 1px solid gainsboro;
	left: 0;
}
.nav .nav_list .hide-a{
	
	width: 220px;
	height: 320px;	
	float: left;
}
.nav .nav_list .hide-a ul li{
	width: 260px;
	font-size: 14px;
	background: white;
    height:30px;
	width: 220px;
	line-height: 30px;
	text-align: center;
}
.nav .nav_list .hide-a ul h6{
	height:30px;
	width: 220px;
	line-height: 30px;
	text-align: center;
}
.nav .nav_list .hide-a ul li a:hover{
	color: red;
}
.nav .nav_list li:hover .hide{
	display: block;
	background: white;
	z-index: 10;
}


/*------------n鼠标移入nav时，li对应的内容显示-------------*/
.nav .nav_bottom{
	margin-top: 62px;
	height:315px ;
	width: 998px;
	position: absolute;
	border: 1px solid gainsboro;	
	display: none;
}


.com{
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
.ban{
	height:270px;
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.ban .img{
	height: 100%;
	width: 100%;
}
.nav-list-a{
	height:76px;
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.nav-list-a ul li{
	height: 76px;
	width: 142.8px;
	float: left;
}
.nav-list-a ul{
	height: 76px;
	width: 1000px;
}
.nav-list-a ul li img{
	display: block;
	height: 100%;
	width: 100%;
}

.sel{
	margin-top: 20px;
	height: 60px;
	width: 1000px;
	margin: 0 auto;
}
.sel .sp{
	height: 60px;
	width: 400px;
	text-align: left;
	line-height: 60px;
	font-size: 14px;
	color: gray;	
	float: left;
}
.sel .opt{
	height: 60px;
	line-height: 60px;
	text-align: left;
	width: 300px;
	float: left;
}
label{
	font-size: 15px;
}
.sel .opt select{
	height: 30px;
	width: 150px;
}
/*--------------item------------start-----*/
.main{
/*	height: 3000px;*/
	width: 1000px;
	margin: 0 auto;

}
.main .item{
	height: 347px;
	width: 248px;
	float: left;
	margin: 10px 0;
}
/*.main .item:hover{
	border: 1px solid gainsboro;
}*/
.main .item .tu{
	height: 200px;
	width: 250px;
}
.main .item .tu img{
	height:160px;
	width:143px;
	margin: 20px 55px;
}
.main .item  .title{
	height: 30px;
	width: 250px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: gray;
}
.main .item .price{
	height: 20px;
	width: 250px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color: #bc0e5e;
	margin-top: 10px;
	font-weight: bold;
	
}
.main .item .cl{
	height: 20px;
	width: 250px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color:gray;
	margin-top: 10px;	
}
.main .item .sale{
	height: 20px;
	width: 250px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color: #bc0e5e;
	margin-top: 10px;
}
.main .item .kg{
	height: 20px;
	width: 250px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color: dimgrey;
	margin-top: 10px;
	font-weight: 100;
}
/*-----图片大小调整-----*/
.main .item .tu-a img{
	height:160px;
	width:84px;
	margin: 20px 80px;
}








/*----------item-----------------end---------*/

.footer{
	overflow: hidden;
	height:320px;
	width:1000px;
    margin: 0 auto;
	background:lightgrey;
}
.footer .footer-left{
	height: 300px;
	width: 730px;
	margin: 5px;
	float: left;
}
.footer .footer-left .left-one {
	height: 60px;
	width: 730px;
}
.footer .footer-left .left-one .a{
	height: 50px;
	width: 120px;
	line-height: 50px;
	text-align:center ;
	font-size: 8px;
	float: left;
}
.footer .footer-left .left-one .b{
	height: 40px;
	width: 140px;
	float: left;
}
.footer .footer-left .left-one .c{
	height: 40px;
	width: 140px;
	float: left;
}
.footer .footer-left .left-one img{
	height: 100%;
	width: 100%;	
}
.footer .footer-left .left-two{
	height: 50px;
	width: 730px;
}

.footer .footer-left .left-two .a{
	height: 50px;
	width: 146px;
	float: left;
}
.footer .footer-left .left-two .a img , .b img , .c img{
	height: 36px;
	width: 36px;
	display: block;
	float: left;
	margin-top: 8px;
}
.footer .footer-left .left-two .a p , .b p , .c p{
	display: inline-block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 13px;
	padding-left: 8px;
}
.footer .footer-left .left-two .b{
	height: 50px;
	width: 380px;
	float: left;
}
.footer .footer-left .left-two .c{
	height: 50px;
	width: 176px;
	float: left;
}
.footer .footer-left .left-three{
	height: 50px;
	width: 400px;
}
.footer .footer-left .left-three img{
	margin-top: 8px;
	height: 36px;
	width: 36px;
	display: block;
	float: left;
}
.footer .footer-left .left-three p{
	padding-left: 18px;
	color: black;
	font-size: 13px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	float: left;
}
.footer .footer-left .left-four{
	height: 50px;
	width: 700px;
}
.footer .footer-left .left-four a{
	font-size: 14px;
	color: black;
}
.footer .footer-left .left-four ul{
	float: left;
	height: 50px;
	width: 560px;
}
.footer .footer-left .left-four ul li{
	float: left;
	padding-left: 14px;
	height: 48px;
	line-height: 50px;
	text-align: center;
}
.footer .footer-left .left-four .small-box{
	height: 50px;
	width: 100px;
	border: solid 1px gray;
	float: left;
}
.footer .footer-left .left-four .small-box a{
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
}

.footer .footer-left .left-five{
	height: 40px;
	width: 760px;
}
.footer .footer-left .left-five div{
	height: 40px;
	width: 80px;
	float: left;
}
.footer .footer-left .left-five img{
	height: 100%;
	width: 100%;
}

.footer .footer-right{
	height:300px;
	width:240px;
	float: right;
	margin-top: 5px;
}
.footer .footer-right .right-a{
	height: 36px;
	width: 300px;
	margin-top: 16px;
}
.footer .footer-right .right-a img:first-child{
	height: 36px;
	width: 100px;

}
.footer .footer-right .right-a img{
	height: 36px;
	width: 36px;
    padding-left: 16px;
}
